*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.content-overlay{
    z-index: 1;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px 250px;
    position: absolute;
}

.input-container{
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
}

.input-container input{
    width: 450px;
    height: 20px
}

